Tease AI/obj/Debug/Interop.WMPLib.dll
Tease AI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
Tease AI/bin/Debug/Tease AI.vshost.exe.manifest
Tease AI/bin/Debug/Tease AI.vshost.exe.config
*.exe
Tease AI/bin/Debug/Tease AI.exe.config
Tease AI/bin/Debug/Chatlogs/05.23.2015 0909 chatlog.html
Tease AI/bin/Debug/Chatlogs/05.23.2015 0907 chatlog.html
Tease AI/bin/Debug/Tease AI.pdb
Tease AI/bin/Debug/Tease AI.xml
Tease AI/obj/Debug/Tease AI.pdb
Tease AI.suo
Tease AI/obj/Debug/Tease AI.vbproj.FileListAbsolute.txt
Tease AI/obj/Debug/Tease AI.vbproj.GenerateResource.Cache
Tease AI/obj/Debug/Tease AI.vbproj.ResolveComReference.cache
Tease AI/obj/Debug/Tease AI.xml
Tease AI/obj/Debug/Tease_AI.Form1.resources
Tease AI/obj/Debug/Tease_AI.frmApps.resources
Tease AI/obj/Debug/Tease_AI.FrmCardList.resources
Tease AI/obj/Debug/Tease_AI.FrmSettings.resources
Tease AI/obj/Debug/Tease_AI.FrmWritingTask.resources
Tease AI/obj/Debug/Tease_AI.Resources.resources
*.suo
*.suo
*.html
*.txt
*.png
Tease AI/bin/Debug/Scripts/Practice Personality/System/EndCheckList.cld
Tease AI/bin/Debug/Scripts/Practice Personality/System/Flags/PANTYCORNER_MODULE_KINKYSWAN
Tease AI/bin/Debug/Scripts/Practice Personality/System/Flags/ShameYoureNotHere
Tease AI/bin/Debug/Scripts/Practice Personality/System/Flags/SurroundYourselfWithSex_85
*.cld
Tease AI/bin/Debug/Scripts/Practice Personality/System/Variables/PANTYCORNER_NUM_SESSIONS
Tease AI/bin/Debug/Scripts/Practice Personality/System/Variables/PANTYCORNER_SESSION_FINISHED
Tease AI/bin/Debug/Scripts/Practice Personality/System/Variables/PANTYCORNER_SESSION_STARTED
Tease AI/bin/Debug/Scripts/Practice Personality/System/Variables/PANTYCORNER_TESTS_FAILED
*.ini
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Flags/BallDiskSpace
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Flags/BBnBGame
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Flags/PANTYCORNER_MODULE_KINKYSWAN
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Flags/ShameYoureNotHere
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Flags/SurroundYourselfWithSex_85
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Flags/TitMan
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Variables/BBnBCount
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Variables/PANTYCORNER_NUM_SESSIONS
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Variables/PANTYCORNER_SESSION_FINISHED
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Variables/PANTYCORNER_SESSION_STARTED
Tease AI/bin/Debug/Scripts/Wicked Tease/System/Variables/PANTYCORNER_TESTS_FAILED
*.resources
*.cache
Tease AI/obj/x86/Debug/Tease AI.pdb
Tease AI/obj/x86/Debug/Tease AI.xml
Tease AI/My Project/Settings.settings