Tease AI/obj/Debug/Interop.WMPLib.dll
Tease AI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
Tease AI/bin/Debug/Tease AI.vshost.exe.manifest
Tease AI/bin/Debug/Tease AI.vshost.exe.config
*.exe
Tease AI/bin/Debug/Tease AI.exe.config
Tease AI/bin/Debug/Chatlogs/05.23.2015 0909 chatlog.html
Tease AI/bin/Debug/Chatlogs/05.23.2015 0907 chatlog.html
Tease AI/bin/Debug/Tease AI.pdb
Tease AI/bin/Debug/Tease AI.xml
Tease AI/obj/Debug/Tease AI.pdb
Tease AI.suo
Tease AI/obj/Debug/Tease AI.vbproj.FileListAbsolute.txt
Tease AI/obj/Debug/Tease AI.vbproj.GenerateResource.Cache
Tease AI/obj/Debug/Tease AI.vbproj.ResolveComReference.cache
Tease AI/obj/Debug/Tease AI.xml
Tease AI/obj/Debug/Tease_AI.Form1.resources
Tease AI/obj/Debug/Tease_AI.frmApps.resources
Tease AI/obj/Debug/Tease_AI.FrmCardList.resources
Tease AI/obj/Debug/Tease_AI.FrmSettings.resources
Tease AI/obj/Debug/Tease_AI.FrmWritingTask.resources
Tease AI/obj/Debug/Tease_AI.Resources.resources
*.suo
*.suo